<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supply_chain.mapper.OrderItemsMapper">
    <!--    <select id="getIdByCustomerId">-->
    <!--        select id-->
    <!--        from `order`-->
    <!--        where customer_id in-->
    <!--        <foreach collection="ids" open="(" separator="," close=")" item="id">-->
    <!--            #{id}-->
    <!--        </foreach>-->
    <!--    </select>-->
    <!--    <delete id="delByOrderId">-->
    <!--        delete-->
    <!--        from order_items-->
    <!--        where order_id in-->
    <!--        <foreach collection="ids" open="(" separator="," close=")" item="id">-->
    <!--            #{id}-->
    <!--        </foreach>-->
    <!--    </delete>-->
    <sql id="selectSql">
        select o.id, o.order_id, o.product_id, p.name productName, o.quantity, o.unit_price, o.total
        from order_items o
                 left join product p on o.product_id = p.id
    </sql>
    <select id="selByOrderId" resultType="com.supply_chain.vo.OrderItemsVO">
        <include refid="selectSql"/>
        where o.order_id = #{orderId} and o.is_deleted = 0
    </select>
    <select id="getOrderItems" resultType="com.supply_chain.vo.OrderItemsVO">
        <include refid="selectSql"/>
        <where>
            o.is_deleted = 0
            <if test="dto.productId != null">
                and o.product_id = #{dto.productId}
            </if>
            <if test="dto.unitPriceMin != null">
                and o.unit_price &gt;= #{dto.unitPriceMin}
            </if>
            <if test="dto.unitPriceMax != null">
                and o.unit_price &lt;= #{dto.unitPriceMax}
            </if>
            <if test="dto.quantityMin != null">
                and o.quantity &gt;= #{dto.quantityMin}
            </if>
            <if test="dto.quantityMax != null">
                and o.quantity &lt;= #{dto.quantityMax}
            </if>
            <if test="dto.totalMin != null">
                and o.quantity &gt;= #{dto.totalMin}
            </if>
            <if test="dto.totalMax != null">
                and o.quantity &lt;= #{dto.totalMax}
            </if>
            <if test="dto.productName != null and dto.productName !=''">
                and p.name like concat('%',#{dto.productName},'%')
            </if>
        </where>
    </select>
    <delete id="delByOrderId">
        delete
        from order_items
        where order_id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>