<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supply_chain.mapper.OrderItemsMapper">
    <!--    <select id="getIdByCustomerId">-->
    <!--        select id-->
    <!--        from `order`-->
    <!--        where customer_id in-->
    <!--        <foreach collection="ids" open="(" separator="," close=")" item="id">-->
    <!--            #{id}-->
    <!--        </foreach>-->
    <!--    </select>-->
    <!--    <delete id="delByOrderId">-->
    <!--        delete-->
    <!--        from order_items-->
    <!--        where order_id in-->
    <!--        <foreach collection="ids" open="(" separator="," close=")" item="id">-->
    <!--            #{id}-->
    <!--        </foreach>-->
    <!--    </delete>-->
    <sql id="selectSql">
        select o.id, o.order_id, o.product_id, p.name, o.quantity, o.unit_price, o.total
        from order_items o
                 left join product p on o.product_id = p.id
    </sql>
    <select id="selByOrderId" resultType="com.supply_chain.vo.OrderItemsVO">
        <include refid="selectSql"/>
        ${ew.customSqlSegment}
    </select>
    <select id="getOrderItems" resultType="com.supply_chain.vo.OrderItemsVO">
        <include refid="selectSql"/>
        ${ew.customSqlSegment}
    </select>
</mapper>