<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supply_chain.mapper.ProductMapper">
<!--    <delete id="delById">-->
<!--        delete-->
<!--        from product-->
<!--        where id in-->
<!--        <foreach collection="ids" item="id" open="(" separator="," close=")">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--    </delete>-->
<!--    <select id="getProducts">-->
<!--        select id, name, image, price, category_id, department_id-->
<!--        from product-->
<!--        <where>-->
<!--            <if test="name!=null and name!=''">-->
<!--                name like concat('%',#{name},'%')-->
<!--            </if>-->
<!--            <if test="priceLow!=null">-->
<!--                and price &gt;= #{priceLow}-->
<!--            </if>-->
<!--            <if test="priceHigh!=null">-->
<!--                and price &lt;= #{priceHigh}-->
<!--            </if>-->
<!--            <if test="categoryId!=null">-->
<!--                and category_id = #{categoryId}-->
<!--            </if>-->
<!--            <if test="departmentId!=null">-->
<!--                and department_id=#{departmentId}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->
    <sql id="selectSql">
        select p.id,
               p.name,
               p.image,
               p.price,
               p.category_id,
               c.name categoryName,
               p.department_id,
               d.name departmentName
        from product p
                 left join department d on p.department_id = d.id
                 left join category c on p.category_id = c.id
    </sql>
    <select id="getProducts" resultType="com.supply_chain.vo.ProductVO">
        <include refid="selectSql"/>
        <where>
            p.is_deleted=0
            <if test="dto.name !=null and dto.name !=''">
                and p.name like concat('%',#{dto.name},'%')
            </if>
            <if test="dto.priceLow != null">
                and p.price >= #{dto.priceLow}
            </if>
            <if test="dto.priceHigh != null">
                and p.price &lt;= #{dto.priceHigh}
            </if>
            <if test="dto.categoryId != null">
                and c.id = #{dto.categoryId}
            </if>
            <if test="dto.categoryName !=null and dto.categoryName !=''">
                and c.name like concat('%',#{dto.categoryName},'%')
            </if>
            <if test="dto.departmentId != null">
                and d.id = #{dto.departmentId}
            </if>
            <if test="dto.departmentName !=null and dto.departmentName !=''">
                and d.name like concat('%',#{dto.departmentName},'%')
            </if>
        </where>
    </select>
    <select id="selById" resultType="com.supply_chain.vo.ProductVO">
        <include refid="selectSql"/>
        ${ew.customSqlSegment}
    </select>
</mapper>